@import "vars.scss";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 400;
    background-color:$bodyColor;
    color: #fff;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: $containerW;
    padding: $containerPD;
    margin: $containerMargin;
    max-width: 1210px;
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #fff;
}

button {
    background-color: transparent;
    color: transparent;
    border: none;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
    padding: 0;
}
span{
    margin: 0;
    padding: 0;
}