.product {
    &__page {
        background-color: #fff;
        color: #000000;

        &-inner {
            display: flex;
            justify-content: space-between;
            padding-top: 70px;
            padding-bottom: 70px;
        }

        &-left {
            min-width: 380px;
            margin-right: 100px;
        }

        &-photo {
            width: 100%;
            max-width: 380px;
            margin-bottom: 50px;
            // min-height: 370px;
        }

        &-img {
            border-radius: 15px;
            display: block;
            width: 100%;
            // min-height: 370px;


        }

        &-info {
            border-radius: 15px;
            box-shadow: (10px 10px 20px rgba(167, 167, 167, 0.25));
            padding: 20px 25px;
            margin-bottom: 50px;

        }

        &-title {
            display: block;
            margin-bottom: 20px;
            width: 100%;
            max-width: 251px;
            color: #434B53;
        }

        &-text {
            display: block;
            width: 240px;
            line-height: 24px;
            margin-bottom: 20px;
        }

        &-price {
            font-weight: 700;
            font-size: 24px;
            color: #434B53;
        }

        &-btn {
            width: 100%;
            color: #2E363E;
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 500;
            background-color: #FED84C;
            min-height: 90px;
            border-radius: 15px;
            text-align: center;
        }

        &-right {
            min-height: 795px;
        }

    }

    &__container {
        width: $containerW;
        padding: $containerPD;
        margin: $containerMargin;
        max-width: 1700px;
    }

    &__right {

        &-text {
       
            display: block;
            box-shadow: -10px -10px 10px rgba(167, 167, 167, 0.25);
            border-radius: 15px;
            background-color: #fff;
            padding-top: 35px;
            padding-bottom: 90px;
            max-height: 370px;
            padding-left: 73px;
            padding-right: 73px;
            margin-bottom: 50px;
        }

        &-title {
            text-align: center;
            display: block;
            margin-bottom: 48px;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 36px;
        }
        &-sub{
            font-size: 18px;
            line-height: 27px;
            width: 100%;
        }
        &-photoes{
            display: flex;
        }
        &-img{
            display: block;
            width: 100%;
            max-width: 380px;
            min-height: 280px;
            margin-right: 37px;
            border-radius: 15px;
            &:last-child{
                margin-right: 0;
            }
        }
    }
}