
$containerW: 100%;
$containerPD: 0 15px;
$containerMargin: 0 auto;

$bodyColor: #081130;

// text
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
$fwR: 400;
$fwM: 500;
$fwSB: 600;
$fwB: 700;

$fz:18px;
$colorMT:#2E363E;
$headersColor:#fff;

$btnC:#FED84C;